.DS_Store
.dart_tool/

.packages
.pub/

.vscode/
build/
.gradle
.idea/
**/.metadata
**/pubspec.lock
**/Runner.xcworkspace/
**/Podfile.lock
example/ios/Flutter/flutter_export_environment.sh
**/.classpath
**/.project
**/.settings
